<h3>Test :: {{status}}</h3>
<br>
<div class="execArea">
	<div class="infoArea">{{info}}</div>
	<br>
	<div class="inputArea"></div>
	<br>
	<div class="outputArea"></div>
</div>
<br>
<button type="button" class="btn btn-default" id="end_process">
	<i class="fa fa-cogs"></i> end
</button>